<div class="accordion" id="acc_{{prefix_id}}">
	{% for key in data %}
		{% if 'id' not in data[key] %}
			<div class="accordion-item">
				<h2 class="accordion-header">
					<div 
						class="accordion-button collapsed nav-pills" 
						data-bs-toggle="collapse" 
						data-bs-target="#{{prefix_id}}_{{loop.index}}" aria-expanded="false" 
						aria-controls="{{prefix_id}}_{{loop.index}}">
						{% if '_all_' in data[key] %}
							<a  class="nav-link {{ 'active' if depth == 0 and loop.index0 == 0 }}"
								id="{{data[key]._all_.id}}_"
								data-bs-toggle="pill"
								aria-controls="{{data[key]._all_.id}}_"
								data-bs-target="#{{data[key]._all_.id}}_tab"
								href="#{{data[key]._all_.id}}_tab"
								role="tab">{{key}}</a>
								{% if depth == 0 and loop.index0 == 0 %}
								<script>window.addEventListener('load', function() { {{print_js_function('toggleTabFromGroup', [data[key]._all_.id + '_tab', target_group])}}});</script>
								{% endif %}
						{% else %}
							{{key}}
						{% endif %}
					</div>
				</h2>
				<div id="{{prefix_id}}_{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#acc_{{prefix_id}}">
					{{ ctrl.render_tree_branch(data[key], prefix_id + '_' + key, target_group, depth + 1) }}
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class="accordion-body nav-pills">
	{% for key in data %}
		{% if 'id' in data[key] and key != '_all_' %}
				<a  class="nav-link"
					id="{{data[key].id}}_"
					data-bs-toggle="pill"
					aria-controls="{{data[key].id}}_"
					data-bs-target="#{{data[key].id}}_tab"
					href="#{{data[key].id}}_tab"
					role="tab">{{key}}</a>
		{% endif %}
	{% endfor %}
</div>
