{% include 'shared/table.html' %} {% block javascript %}
<script type="text/javascript">
    document.addEventListener('viz-content-loaded', () => {
        // Set original-data-value to the operation cell
        document.querySelectorAll('#{{id}} tbody tr, #{{id}} .viz-fixed-row').forEach((row) => {
            const cell = row.children[0];
            setOperationCell(cell);
        });

        addButtonsToTable("{{id}}", (cells) => setImprovementData{{pipeline_name}}(cells[0].getAttribute('original-data-value')));
    });
</script>
{% endblock %}
