<div>
    <div
        class="sub-tab-content tab-content"
        id="improvements_panel_content_{{pipeline_name}}"
    >

        <div class="viz-width-limited">
            <label>Select variant type and size</label>

            <div id="ddat_improvement" style="margin:20px;">
                <div class="dropdown viz-dropdown-tree">
                  <button class="form-select" type="button" id="ddat_dropdownMenuButton_improvement_{{pipeline_name}}" aria-expanded="false" style="text-align: left" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                    {{ctrl.get_tree(pipeline_name).keys() | first}}
                  </button>
                  <div class="dropdown-menu scrollbar" aria-labelledby="ddat_dropdownMenuButton_improvement_{{pipeline_name}}" id="ddat_dropdownMenuButton_improvement_menu_{{pipeline_name}}">
                    <div class="tab-pane" role="tablist" aria-orientation="vertical" id="improvement_size_type">
                        {{ ctrl.render_tree_branch(ctrl.get_tree(pipeline_name), 'improvement', 'improvements_panel_content_' + pipeline_name, click_callback={'function':'hideMenuAndUpdateSelected', 'params':['ddat_dropdownMenuButton_improvement_menu_' + pipeline_name, 'ddat_dropdownMenuButton_improvement_' + pipeline_name]}) }}
                        </div>
                  </div>
                </div>
            </div>

        </div>

        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <div style="width: 100px"></div>
            <button
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                type="button"
                onclick="set{{pipeline_name}}ImprovementLabelsVisible('snv_indel_sv')"
            >
                {{conf.names.snv_indel_sv}}
            </button>
            <button
                class="nav-link active"
                role="tab"
                data-bs-toggle="tab"
                type="button"
                onclick="set{{pipeline_name}}ImprovementLabelsVisible('sv_subtypes')"
            >
                {{conf.names.sv_subtypes}}
            </button>
            <button
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                type="button"
                onclick="set{{pipeline_name}}ImprovementLabelsVisible('sv_subtypes_sizes')"
            >
                {{conf.names.sv_subtypes_sizes}}
            </button>
        </div>
        <div class="viz-bordered-tab-container">
            <div class="viz-width-limited">
                <div class="radar-chart-container">
                    {{include_cooked('shared/export_chart.html',
                    chart_js_var_name=pipeline_name+'ImprovementPlot',
                    filenames=pipeline_name+'ImprovementPlotData[\'titles\'].map((a)
                    => `'+pipeline_name+'_improvement_plot_${a}`)',
                    filename=pipeline_name+'ImprovementPlot')}}
                    <div id="{{pipeline_name}}_chart_container_improvement"></div>
                </div>
                <div
                    id="improvementPlotInfo{{pipeline_name}}"
                    class="viz-plot-info"
                ></div>
            </div>
        </div>
        {% for value in ctrl.get_flatten_tree(pipeline_name) %}
        <div
            class="tab-pane fade {{'active show' if ctrl.default_id[pipeline_name] == value.id}}"
            id="{{value.id}}_tab"
            aria-labelledby="{{value.id}}_tab"
        >
            {{ ctrl.render_table(pipeline_name + '_' + value.id, pipeline_name,
            value.data) }}
        </div>
        {% endfor %}
    </div>
</div>

{% block javascript %}
<script>
    const {{pipeline_name}}ImprovementPlotData = {{ctrl.get_improvement_plot_data(pipeline_name)}}
    const {{pipeline_name}}ImprovementPlot = createImprovementPlot(
        "{{pipeline_name}}_chart_container_improvement",
        {{pipeline_name}}ImprovementPlotData['titles'],
        {{pipeline_name}}ImprovementPlotData['labels'],
        {{pipeline_name}}ImprovementPlotData['operation_values']['baseline']
    );

    function set{{pipeline_name}}ImprovementLabelsVisible(labelGroup) {
        {{pipeline_name}}ImprovementPlot.setLabelsVisible({{pipeline_name}}ImprovementPlotData['labels_groups'][labelGroup]);
    }

    function setImprovementData{{pipeline_name}}(operationName) {
        // Set the active class to all the rows in all the tables that match the selected operationName
        document.querySelectorAll('#improvements_panel_content_{{pipeline_name}} table tr').forEach((row) => {
           const cell = row.querySelector('td:nth-child(2)')
            if (cell && cell.innerText === operationName) {
                row.classList.add('active');
            } else {
                row.classList.remove('active');
            }
        });

        const operationImprovementData = {{pipeline_name}}ImprovementPlotData['operation_values'][operationName];
        {{pipeline_name}}ImprovementPlot.setImprovementData(operationImprovementData);

        document.querySelector('#improvementPlotInfo{{pipeline_name}}').innerHTML = formatTemplateFromMatrix('<div>{0}: {1}</div>', [['Selected', operationName]]);
    }

    set{{pipeline_name}}ImprovementLabelsVisible('sv_subtypes');
    // Manually trigger the click event on baseline
    setImprovementData{{pipeline_name}}('baseline');
</script>
{% endblock %}
